@import '../App.scss';

.work-container{
    
    .work-experience-list{
        .work-experience-item{
            padding: 0 0 1rem 2rem;
        }
        h2, li, p { 
            text-align: left;
            font-size: 1.5rem;
            padding: 0;
        }
        p {
            font-size: 1.3rem;
            font-weight: bold;
            text-align: left;
        }
    }
}
