@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;300&family=Cormorant&family=Dosis:wght@200;300&family=Hahmlet:wght@200&family=Julius+Sans+One&display=swap');

$primary-color: #5d6799;
$secondary-color: #e2e0e0;
$highlight-color: #ff698e;
$border-bottom: 3px solid $highlight-color;
$transition: 0.25s;

$font-heading: 'Cormorant', serif;
$font-subheading: 'Arima Madurai', cursive;
$font-body: 'Dosis', sans-serif;

$breakpoint-medium: 992px;
$breakpoint-small: 768px;
$breakpoint-xs: 576px;
$breakpoint-mobile: 499px;

@mixin centre{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
@mixin contactButtonGrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    width: 45vw;
    margin:auto;
    @media (max-width: $breakpoint-medium){
       width: 80vw;
       margin-bottom: 20px;
    }
    @media (max-width: $breakpoint-small){
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 10px;
    }
}
@mixin contactButton {
    border-radius: 50px;
    padding: 10px 0;
    font-size: 1.2rem;
    background-color: $highlight-color;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    &:hover{
        text-decoration: underline;
    }
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: $font-body;
    text-align: center;
}
%text {
    color: $primary-color;
    padding: 5px 0;
    font-size: 2rem;
    @media (max-width: $breakpoint-xs){
        font-size: 1.5rem;
      }
}
p, h1, h2, .heading2 {
    @extend %text;
}
h1{
    font-family: $font-heading;
    font-size: 5rem;
    @media (max-width: $breakpoint-xs){
        font-size: 4rem;
      }
}
h2, .heading2 {
    font-family: $font-subheading;
    text-transform: uppercase;
}
.wrapper {
    height: fit-content;
    max-width: 100vw;
    padding: 85px 5vw 40px 5vw;
    border-bottom: $border-bottom;
    @media (max-width: $breakpoint-mobile){
        padding-bottom: 50px;
        width: 100vw;
    }
}
.contact-grid{
    @include contactButtonGrid();
    .contact-info{
        @include contactButton();
    }
}
.contact-container, .profile-container, .work-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3vw;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $breakpoint-medium){
        grid-template-columns: 1fr;
    }
}
