@import '../App.scss';

.projects-slider{ 
    width: 30rem;
    margin: 1rem auto;
    @media (max-width: $breakpoint-xs){
        width: 20rem;
     }
     @media (max-width: $breakpoint-mobile){
        width: 15rem;
     }
}
.slick-prev{
    left: -8vw;
    @media (max-width: $breakpoint-mobile){
        left: -6vw;
    }
}
.slick-next{
    right: -6vw;
}
.slick-next:before, .slick-prev:before {
    font-size: 3rem;
    color: $primary-color;
    @media (max-width: $breakpoint-small){
       font-size: 2rem;
     }
    @media (max-width: $breakpoint-small){
        font-size: 1rem;
    }
}
.slick-track{
    @include centre();
    .project-text{
        display: none;
    }
    img {
        width: 100%;
        position: relative;
        filter: opacity(15%);
        transition: $transition ease-in-out;
    }  
    .slick-active{
        transform: scale(1.1);
        .project-text{
           @include centre();
            position: absolute;
            width: 100%;
            height: 100%;
            flex-direction: column;
            top: 0;
            font-weight: 600;
            transition: $transition ease-in-out;
            .heading2, p{
                padding: 0 2rem;;
                @media (max-width: $breakpoint-small){
                    font-size: 1.5rem;
                }
                @media (max-width: $breakpoint-mobile){
                    font-size: 1.1rem;
                    padding: 0 1rem;
                }
            }
        }
    }
}   